
* {
    margin:0;
    padding:0;
    box-sizing: 0;
}

:root{
    --rosa_claro: #FFD4EA;
    --rosa_forte: #EC4399;
    --branco: #fff;
    --rosa_punk: #B4005C;
}


.menulateral{
    width: 0px;
    height: 100vh;
    background-color: var(--branco);
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    z-index: 2;
}


.menulateral:hover {
    width: 384px;
}


.hamburguerButton:hover +.menulateral{
    width: 384px;
} 
/* {
    
    width: 100%;
    padding-left: 10px;
} */
.iconmenu{
    height: 40px;
    width: 65px;
}

.hamburguerButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menutitulo{
    color: var(--rosa_punk);
    font-family: 'Poppins, sans-serif';
    font-size: 16px;
    font-weight: 700;
    margin-left: 41px;
}

ul{
    list-style-type: none;
}

ul li.item-menu a{
    color: var(--rosa_punk);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4px ;
    display: flex;
    margin-bottom: 20px ;
    line-height: 40px;
    gap: 11px;

}

ul li.item-menu{
    transition: .2s;
    display: flex;
    align-items: center;
    margin-top: 34px;
    margin-left: 39px;
}

ul li.item-menu a .linktexto{
    margin-left: 40px;
}

.item-menu:hover{
    background-color: var(--rosa_punk);
}


.espacamento{
    gap: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.seila{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 175px;
}


input::placeholder{
    color: var(--rosa_claro);
    padding: 9px 305px 5px 24px;
}

.inputItem{
    position: relative;
}


.grid{
    display: flex;
    height: 100%;
    flex-direction: column;
    /* display: flex;
    grid-template-rows: 10vh 35vh 50vh;
    grid-template-columns: 20vw 80vw;
    grid-template-areas: 'nav header' 
                         'nav container'
                         'nav container'
    ; */
}



#logomenu{
    margin-top: 38px;
    margin-left: -13px;
    width: 379px;
}

.disque{
    display: flex;
    gap: 14px;
    
    /* superior | direita | inferior | esquerda */
    padding: 214px 220px 756px 40px ;

}


.menuicones{
    width: 36px;
    height: 35px;
}


.linktxt{
    color: var(--rosa_punk);
    font-family: 'Poppins, sans-serif';
    font-size: 16px;
    font-weight: 400;

}
.item-menu:hover  .linktxt {
    color: var(--branco);
}

.item-menu:hover .icones-menu-disque{
    display: none;


}

.item-menu:hover .icones-menu-disque-hover{
    display: block;


}

.icones-menu-disque-hover{
    display: none;
}

